<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.note.user.UserMapper">

	<select id="selectUserList" resultType="User">
		select * from users
	</select>
	
	<insert id="signUp" parameterType="User">
        insert into users (users_password,
        users_name,users_email)
        values (#{usersPassword}, #{usersName}, #{usersEmail})
     </insert>
     
     <select id="idAndPassCheck" parameterType="User" resultType="String">
		select users_name
		from users
		where users_email = #{usersEmail} and users_password = #{usersPassword}
	</select>
	
</mapper>